<div class="colorCtaPanel">
	<button ng-model="ctaitem.ctaclass" class="black" ng-click="setCtaColor('black')"></button>
	<button ng-model="ctaitem.ctaclass" class="red" ng-click="setCtaColor('red')"></button>
	<button ng-model="ctaitem.ctaclass" class="infrared" ng-click="setCtaColor('infrared')"></button>
	<button ng-model="ctaitem.ctaclass" class="gold" ng-click="setCtaColor('gold')"></button>
	<button ng-model="ctaitem.ctaclass" class="blue" ng-click="setCtaColor('blue')"></button>
	<button ng-model="ctaitem.ctaclass" class="white" ng-click="setCtaColor('pearlescentWhite')"></button>
	<button ng-model="ctaitem.ctaclass" class="gray" ng-click="setCtaColor('metalicGray')"></button>
	<button class="delete-cta-btn" ng-click="deleteCTA($index)"></button>
</div>