<!-- **************Start of Load Template Panel **********************-->
<section class="load_tpl_container" ng-class="(export_panel_on?'active':'')">
<div class="load_tpl_overlay" ng-click="LoadExportPanel()"></div>
<div class="load_export_panel">
  <h1 class="template-pick">Pick a Export</h1>
  <div>
  	<div>
       <a href="" id="exportSave" class="export-images">Export Zip</a>
    </div>
    <div>
       <a href="" id="saveIndividual">Save Individually</a>
    </div>
       <div id="exportImagesContainer" style="display:none"></div>
       <div id="exportImagesContainerMobile" style="display:none"></div>
  </div>
</div>
</section>
<!-- **************End of Load Template Panel **********************-->