<footer class="main-footer" ng-hide="(tpl_color=='tpl_black')">
 <!--  <div class="container">
    <div class="buy">
      <div class="col-12 col-md-6 col-lg-3">
        <h6>shoes</h6>
        <ul>
          <li>Air Max</li>
          <li>Air Force 1</li>
          <li>Roshe Run</li>
          <li>Dunk</li>
        </ul>
      </div>
      <div class="col-12 col-md-6n col-lg-3">
        <h6>clothing</h6>
        <ul>
          <li>Shirts</li>
          <li>Shorts</li>
          <li>Tanks</li>
          <li>Sweaters</li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <h6>gear</h6>
        <ul>
          <li>Nike+ Accessories</li>
          <li>Bags &amp; Backpacks</li>
          <li>Sunglasses</li>
          <li>Hats &amp; Caps</li>
        </ul>
      </div>
      <div class="col-12 col-md-6n col-lg-3n">
        <h6>featured</h6>
        <ul>
          <li>New Releases</li>
          <li>Fuelband SE</li>
          <li>NFL</li>
          <li>Nike+</li>
        </ul>
      </div>
    </div>
  </div> -->

  <div class="adj-info">
    <div class="container">
      <div class="help">

        <div class="col-4 col-md-4 col-lg-4 help-tout">
          <h6>Get Help</h6>
          <ul>
            <li>Contact us</li>
            <li>Shopping</li>
            <li>NikeiD</li>
            <li>Nike+</li>    
          </ul>
          <div class="cell"><a class="cta metalicGray">Shop</a></div>    
        </div>

        <div class="col-4 col-md-4 col-lg-4 help-tout">
          <h6>Orders</h6>
          <ul>
            <li>Contact us</li>
            <li>Shopping</li>
            <li>NikeiD</li>
            <li>Nike+</li>    
          </ul>
          <div class="cell"><a class="cta metalicGray">Shop</a></div>    
        </div>

        <div class="col-4n col-md-4n col-lg-4n help-tout">
          <h6>Register with nike</h6>
          <ul>
            <li>Contact us</li>
            <li>Shopping</li>
            <li>NikeiD</li>
            <li>Nike+</li>    
          </ul>
          <div class="cell"><a class="cta metalicGray">Shop</a></div>    
        </div>
        
      </div>

      </div>
    </div>

    <div class="site-map">
      <div class="container">
        <ul>
          <li>United States</li>
          <li>Privacy Policy</li>
          <li>Terms of use</li>
          <li>Supply Chain</li>
          <li>Nike Inc.</li>
          <li>Launch Calendar</li>
          <li>NikeBetterWorld</li>
          <li>&copy;2014 Nike, Inc. All Rights Reserved</li>
        </ul>
      </div>

    </div>
  </div>
</footer>