<nav>
 <!--  <a href="" ng-click="addFST()" class="add-fst-btn" >add fst</a>
  <a href="" ng-click="LoadTemplatePanel()" class="load-tpl-btn" >load template</a>
  <a href="" ng-click="SavePage()" class="save-page-btn">save page</a> -->

  <div class="dark-bar">
    <ul class="push-left">
      <li class="active">shop</li>
      <li>nike+</li>
    </ul>
    <ul class="push-right">
      <li><i class="fa fa-shopping-cart"></i></li>
      <li><i class="fa fa-question-circle"></i></li>
    </ul>

  </div>
  <div class="site-bar">

    <ul>
      <li ng-click="toggleMenuMobile()" class="top-mobile-click">
        <img ng-src="images/nike.gif" alt="">
      </li>
    </ul>
  </div>
</nav>
<div class="bump-80"></div>