<section ng-controller="FstController" class="container-full control-hover fst fst-placeholder" ng-init="fst=section.data[0]">

    <fstcontrolpanel></fstcontrolpanel>
    <figure file-dropzone="[image/png, image/jpeg, image/gif]" file="section.data[0].image" file-name="imageFileName" data-max-file-size="3">
       
        <img class="fst-image-width active" ng-src="{{section.data[0].image}}" alt="">
        
        <div class="image-wrapper-fst">
        <div class="hero-block-container" ng-class="fstHorizontalAlignCenter">
            <div class="hero-block" ng-class="fstGridClass" ng-style="heroBlockStyle" ui-sortable ng-model="section.data[0].sections">
                <div ng-repeat="fstsection in section.data[0].sections" ng-switch on="fstsection.type">
                    <fstcaption model="fstsection.data" ng-switch-when="caption"></fstcaption>
                    <fstsubcaption model="fstsection.data" ng-switch-when="subcaption"></fstsubcaption>
                    <fstbody model="fstsection.data" ng-switch-when="body"></fstbody>
                    <fstcta model="fstsection.data" initial="1" max="2" ng-switch-when="cta"></fstcta>
                </div>
            </div>
        </div>
        </div>
        <div ng-switch on="fst.video">

            <div ng-switch-when=""></div>
            <div class="video-box" ng-switch-default>
                
                <video preload="true" loop="loop" muted="true" autoplay><source src="{{fst.video}}" type="video/mp4">Your browser does not support the video tag.</video>
            </div>
        </div>
    </figure>
    <div class="hero-block-mobile">
        <div ng-repeat="fstsection in section.data[0].sections" ng-switch on="fstsection.type">
            <fstcaption model="fstsection.data" ng-switch-when="caption"></fstcaption>
        </div>
        <div ng-repeat="fstsection in section.data[0].sections" ng-switch on="fstsection.type">
            <fstcta model="fstsection.data" ng-switch-when="cta"></fstcta>
        </div>
    </div>

</section>