<nav class="company-bar">
	<div class="primary"><img src="images/akqa-logo.png" alt="" /></div>
	<div class="secondary"></div>

</nav>
<div class="gap-100"></div>
<div class="account-profile">

		<div class="content-body container">
			<div class="instruction">
				<h3 class="account-big col-9 col-md-9 col-lg-9">Accounts</h3>
				<div class="col-3n col-md-3n col-lg-3n">
					<div class="btn">
						<a href="" class="primary">Add Account</a>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- start account card -->
				<div class="col-4 col-md-4 col-lg-4">
					<figure class="account-cap">
						<img src="images/accounts/jordan.jpg" alt="">
						<figcaption>
							<h4>Jordan</h4>
						</figcaption>
					</figure>	
					<div class="account-info">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
						</p>
						<div class="btn">
							<a href="/#/jordan" class="secondary">Enter Account</a>
						</div>
					</div>
				</div>
				<!-- end account card -->
				<!-- start account card -->
				<div class="col-4 col-md-4 col-lg-4"> 					
					<figure class="account-cap">
						<img src="images/accounts/visa.jpg" alt="">
						<figcaption>
							<h4>Visa</h4>
						</figcaption>
					</figure>	
					<div class="account-info">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
						</p>
						<div class="btn">
							<a href="" class="secondary">Enter Account</a>
						</div>
					</div></div>
				<!-- end account card -->
				<!-- start account card -->
				<div class="col-4n col-md-4n col-lg-4n"> 
					<figure class="account-cap">
						<img src="images/accounts/target.jpg" alt="">
						<figcaption>
							<h4>Target</h4>
						</figcaption>
					</figure>	
					<div class="account-info">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
						</p>
						<div class="btn">
							<a href="" class="secondary">Enter Account</a>
						</div>
					</div>
				</div>
				<!-- end account card -->
			</div>
			<!-- end of row -->
			<!-- start of row -->
			<div class="row">
				<!-- start account card -->
				<div class="col-4 col-md-4 col-lg-4">
					<figure class="account-cap">
						<img src="images/accounts/nest.jpg" alt="">
						<figcaption>
							<h4>Nest</h4>
						</figcaption>
					</figure>	
					<div class="account-info">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
						</p>
						<div class="btn">
							<a href="" class="secondary">Enter Account</a>
						</div>
					</div>
				</div>
				<!-- end account card -->
				<!-- start account card -->
				<div class="col-4 col-md-4 col-lg-4"> 					
					<figure class="account-cap">
						<img src="images/accounts/audi.jpg" alt="">
						<figcaption>
							<h4>Audi</h4>
						</figcaption>
					</figure>	
					<div class="account-info">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
						</p>
						<div class="btn">
							<a href="" class="secondary">Enter Account</a>
						</div>
					</div></div>
				<!-- end account card -->
				<!-- start account card -->
				<div class="col-4n col-md-4n col-lg-4n"> 
					<figure class="account-cap">
						<img src="images/accounts/ab.jpg" alt="">
						<figcaption>
							<h4>Anheuser Busch</h4>
						</figcaption>
					</figure>	
					<div class="account-info">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.
						</p>
						<div class="btn">
							<a href="" class="secondary">Enter Account</a>
						</div>
					</div>
				</div>
				<!-- end account card -->
			</div>
			<!-- end of row -->
		</div>
		<!-- end of content-body -->
</div>
<!-- end of account-profile -->
